<link rel="stylesheet" type="text/css" href="/styles/nav-bar.css">

<nav class="nav-bar">
  <div class="nav-bar-brand">
    <img src="/images/surprised.png" id="logo">
    <p class="title"><font>Pikachoose</font></p>
    <div></div>
  </div>
</nav>
