
<nav class="navbar navbar-inverse" style="height:80px; background-color: #89C1FF; border:5px solid #89C1FF;">
  <div class="navbar-brand" href="#" style="display: flex; justify-content: center;">
    <img src="https://i.imgur.com/2rIMflI.png" width="50" height="50" class="d-inline-block align-top" alt="">
    <p style="line-height: 50px; padding-left: 0.5rem; color:white;"><font size ="+6">Pikachoose</font></p>
  </div>
</nav>
