<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Error 404</title>
</head>
<body>
  <% include partials/nav_bar %>
  <h1>Dont forget about another pikachu here</h1>
</body>
</html>
