<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Poll successfully submitted</title>
</head>
<body>
  <% include partials/nav_bar %>
  <h1>Your poll was submitted!</h1>
  <section class="links-container">
    <div id="admin-link">LOAD ADMIN LINK HERE</div>
    <div id="participant-link">LOAD PARTICIPANT LINK HERE</div>
  </section>
</body>
</html>


