<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Poll successfully submitted</title>
</head>
<body>
  <% include partials/nav_bar %>
  <h1>Your poll was submitted!</h1>
  <section class="links-container">
    <div id="admin-link"><a href="<%= admin_link %>"><%= admin_link %></a></div>
    <div id="participant-link"><a href="<%= participant_link %>"><%= participant_link %></a></div>
  </section>
</body>
</html>


