<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Meta Information -->
      <title>Pikachoose - Home Page</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" type="text/css" href="/styles/results_page.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <body>

    <!-- Top nav bar -->
    <% include partials/nav_bar %>

    <!-- Main Container -->
    <main class="container text-left">
      <section class="row">
        <h1>Poll Results</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <h3 class="row"># of people who took poll: <%= borda_results.length %></h3>
        <hr>
      </section>

        <!-- Options Container -->
    <section id="options" class="row">
      <!-- Article container that options will be populated in. -->
      <h3>Results:</h3>
      <% borda_results.forEach((x) => { %>
      <div>rank: <%= x[1] %> </div>
      <div>options:<%= x[2] %> </div>
      <div>option description: <%= x[3] %> </div>
    <% }) %>

      <article id="drag_options">
        <span>Example text</span>
      </article>

    </section>

  </body>
</html>
