<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Meta Information -->
      <title>Pikachoose - Home Page</title>

      <meta charset="utf-8">

      <link rel="stylesheet" type="text/css" href="/vendor/normalize-4.1.1.css">
      <link rel="stylesheet" type="text/css" href="/styles/take_poll.css">

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="/vendor/jquery-3.0.0.js"></script>
      <script src="/vendor/jquery-ui.min.js"></script>


      <link rel="stylesheet" type="text/css" href="/jquery-ui.theme.css">
      <link rel="stylesheet" type="text/css" href="/jquery-ui.structure.css">

      <script src="/scripts/submit-ranking.js"></script>

      <script>
        $( function() {
          $( "#sortable" ).sortable({
            placeholder: "ui-state-highlight"
          });
          $( "#sortable" ).disableSelection();
        } );
      </script>

  </head>
  <body>


    <!-- Top nav bar -->
    <% include partials/nav_bar %>

    <!-- Main Container -->
    <main class="content-container">
      <section>
        <h1 id="takepoll-title">Your Poll</h1>
        <hr>
      </section>

      <h3 >Question: <%= result[0][0].poll_question %></h3>

    <!-- Options -->
    <section id="options" class="row">
      <h3>Please Drag These Options to Rank Them in Order of Preference:</h3>
      <!-- Article container that options will be populated in. Note the draggable tag may need to be changed depending on requirements of drag and drop -->
    <form id="submit-rank-form" method="POST" action="/votes_submitted">
      <article id="drag_options">
        <ul id="sortable">
          <%  result[0].forEach( (element, idx) => { %>

          <li class="ranked-list-element" option_id=<%= element.option_id %> class="ui-state-default" >
            <div class="option-text">
              <%= element.option_text %>
            </div>
            <div class="option-description">
              <%= element.option_description %>
            </div>
          </li>
          <% }); %>
        </ul>
      </article>
      <div class="form-group">
        <label form="description">(Optional) Tell us your name! </label>
        <input type="text" class="form-control" name="participant_name"/>
      </div>
    </section>
    <div >
      <input id="submit-button" type="submit" value="Submit"/>
    </div>
  </form>
    </div>
    </main>
  </body>

<!--   <footer>
    <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/"           title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"          title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </footer> -->
</html>



