<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Meta Information -->
      <title>Pikachoose - Home Page</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <link rel="stylesheet" href="../public/vendor/normalize-4.1.1.css" type="text/css" />
      <link rel="stylesheet" type="text/css" href="/styles/take_poll.css">
    </head>
  <body>

    <!-- Top nav bar -->
    <% include partials/nav_bar %>

    <!-- Main Container -->
    <main class="container text-center">
      <section class="row">
        <h1>Name's Poll</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <hr>
      </section>

      <h3 class="col-sm-8 text-left">Question: <%= result[0].poll_question %></h3>

    <!-- Options -->
    <section id="options" class="row">
      <h3>Please Drag These Options to Rank Them in Order of Preference:</h3>
      <!-- Article container that options will be populated in. Note the draggable tag may need to be changed depending on requirements of drag and drop -->
    <form method="POST" action="/votes_submitted">
      <article id="drag_options" draggable="true">
        <span>
          <% for (var element in result) { %>
          Poll Option: <%= result[element].option_text %> | Description: <%= result[element].option_description %>
          <br>
          <% } %>
        </span>
      </article>
    </section>
    <div id="button" class="row">
      <input type="submit" class="btn btn-primary" value="Submit"/>
    </div>
  </form>
    </div>
    </main>
  </body>

<!--   <footer>
    <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/"           title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"          title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </footer> -->
</html>



