<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Poll successfully submitted</title>
</head>
<body>
  <% include partials/nav_bar %>
  <h1>Thanks for you opinion. I'm sure its very important</h1>
  <h2>Maybe a happy pikachu here?</h2>
</body>
</html>
