@import "../vendor/bootstrap/scss/bootstrap";

.content-container {
  @include make-container();
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}


#homepage-title {
  line-height: 2rem;
  padding-left: 0.5rem;
  text-align: center;
}

.welcome-message {
  min-width: 20rem;
  width: 60%;
  text-align: center;
  font-size: 1.5rem;
}

#make-question {
  width: 100%;
  border-radius: 5px;
}

#add-email {
  width: 100%;
  border-radius: 5px;
}

.form-control {
  border: 1px solid black;
}

.main-button {
  background-color: saturate(lighten($yellow, 11%), 30%);
  border: #89C1FF;
}

.main-button:hover {
  background-color: saturate($orange, 30%);
}

