@import "../vendor/bootstrap/scss/bootstrap";

.content-container {
  @include make-container();
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

#takepoll-title {
  line-height: 2rem;
  padding-left: 0.5rem;
  text-align: center;
}

#options {
  @include make-container();
  width: 60%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}

/* #sortable {
  list-style-type: none;
} */
#sortable {
  list-style-type: none;
  padding: 0;
  margin:auto;
  width: 60%;
}

#sortable li {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: 0.5em;
  padding: 2.5rem;
  border: 0.2em solid orange;
  border-radius: 0.2em;
}

html>body #sortable li { height: 1.5em; line-height: 1.2em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

/* .ranked-list-element {
  margin: 3em;
}
 */
.option-text {
  font-size: 0.9em;
}

.option-description {
  font-size: 0.5em;
  white-space: nowrap;
}



#submit-button {
  background-color: saturate(lighten($yellow, 11%), 30%);
  border:#89C1FF;
}

#submit-button:hover {
  background-color: saturate($orange, 30%);
}


