.main-text-container {
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

#poll-options-container {}

#drag-options {
  border-radius: 5px;
  border:1px solid black;
  min-height: 50px;
  margin-bottom:10px;
}
